.webshop-img {
    height: 400px;
    width: 400px;
}

.amount-input{
    padding: .25em .5em;
    width: 50px;
    text-align: center;
    background-color: black;
    border: 1px solid #CA2216;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.order {
    padding: 2em;
}

.order-input {
    padding: .5em .5em;
    background-color: black;
    border: 1px solid #CA2216;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

label {
    font-weight: bold;
}