.button {
    background-color: #CA2216;
    padding: .5em 1em;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: #962216;
    }
    &.is-small{
        font-size: 12px;
        padding: .25em .5em;
    }
}