@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 0 auto;
}

.nav-container {
  margin: 0 auto;
  max-width: 1200px;
}

.nav-list {
  padding: 0;
  position: absolute;
  top: 0;
  list-style: none;
  display: inline-block;
}

.nav-list li {
  display: inline-block;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}
.nav-list li a {
  padding: 0.5em 0.5em;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}
.nav-list li a:hover {
  color: white;
  border-radius: 2.5px;
  background-color: rgba(255, 255, 255, 0.15);
}

.nav-logo {
  display: inline-block;
  width: 80px;
}

.nav-logo img {
  width: 100px;
}

.hero {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero-body {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 12em;
}

.button {
  background-color: #CA2216;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
}
.button:hover {
  background-color: #962216;
}

.content-section {
  max-width: 1100px;
  margin: 0 auto;
}
.content-section h2 {
  color: #CA2216;
  text-transform: uppercase;
  font-size: 18px;
}

.column {
  display: flex;
}

.row {
  width: 100%;
  height: 100%;
  margin: 0em 0.25em;
  padding: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 2em;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
